@charset "utf-8";

#aboutme, #projects {background-color: #fff !important;}

@keyframes bounce {
    0%   { transform: translateX(-50%) translateY(0);}
    50%  { transform: translateX(-50%) translateY(30px);}
    100% { transform: translateX(-50%) translateY(0);}
}

.noscroll {overflow: hidden; height: 100vh;}
.modal_box {width: 100%; height: 100vh; background-color: rgba(0,0,0,0.5);
    .modal {width: 420px; height: 200px; position: absolute; background-color: #fff; padding: 20px 40px; left: 50%; top: 50%; transform: translate(-50%, -50%); z-index: 2;
        p {line-height: 40px;}
        button {position: absolute; bottom: 20px; right: 40px; background-color: #ff96d8; border: none; padding: 6px 15px; color: #fff; border-radius: 10px;}
    }
}

#home {text-align: center; position: relative;
    .title {position: absolute; left: 50%; top: 33%; transform: translateX(-50%); opacity: 0; transition: opacity 0.5s ease-in-out;
        h2 {font-size: 13rem; margin-bottom: 30px; background: linear-gradient(60deg,rgba(255, 150, 216, 1) 0%, rgba(255, 232, 246, 1) 100%); color: transparent; -webkit-background-clip: text;}
        .job {font-size: 1.6rem; position: absolute; top: -15%; left: 2%;}
        .name {font-family: 'Nothing You Could Do'; font-size: 2.7rem;}
    }
    .play {opacity: 1;}
    .scroll {position: absolute; left: 50%; transform:translateX(-50%); bottom: 5%;;
        p, .fa-caret-down {color: #FF96D8;}
        p {font-size: 1.3rem; font-weight: 600;}
        .fa-caret-down {font-size: 2.5rem;}
    }
    .scroll.bounce {
        animation: bounce 0.6s;
    }
}

#aboutme {position: relative;
    .a_box {display: flex; justify-content: space-around; height: 500px;
        .photo {width: 350px; height: 400px; border-top-left-radius: 500px; border-top-right-radius: 500px; overflow: hidden; transform: translateY(20%); margin-right: 2%;
            .photo_wrap {display: flex; width: 700px;
                .photo_slide {width: 350px; height: 400px;
                    img {width: 100%; object-fit: cover; transform: translateX(-7%);}
                }
            }
        }
        .intro {margin-left: 40px; padding: 70px 0;
            .s_title {font-size: 3rem; font-weight: 100; width: 570px; margin-bottom: 15px; font-family: "Black Han Sans";
                span {color: #FF96D8; font-size: 5rem;}
            }
            .motto {font-family: "Orbit"; font-size: 1.4rem; font-weight: 200;}
            .info {display: flex; justify-content: space-evenly; margin-top: 30px;
                .education, .license {
                    h4 {color: #FF96D8; font-weight: bold; font-size: 1.8rem; padding: 15px 0px;}
                    ul {
                        li {line-height: 40px;
                            span {font-weight: bold;}
                        }
                    }
                }
                .education {margin-right: 5%; width: 63%;}
                .license {width: 45%;}
            }
        }
    }
}

#skills {
    .s_box {
        .high, .middle {margin-bottom: 110px;}
        .high, .middle, .low {width: 100%; display: flex; flex-wrap: wrap;
            ul {display: flex !important; justify-content: space-evenly; width: 550px;
                img {width: 70px;}
            }
        }
        .low {
            ul {width: 350px; margin-left: 205px;}
        }
        .status {position: relative; transform: translateY(25%);
            p {position: absolute; z-index: 2; color: #fff; font-weight: bold; top: 6%;}
            .bar_box {width: 600px; height: 30px; background-color: #fff; border-radius: 50px;}
            .bar {height: 30px; background-image: linear-gradient(to right, #ff96d8, #ff88d3, #ff7acd, #ff6ac7, #ff59c1); position: absolute; border-radius: 50px;}
        }
        .high {
            p {right: 20%;}
            .bar {width: 500px;}
        }
        .middle {
            p {right: 37%;}
            .bar {width: 400px;}
        }
        .low {
            p {left: 40%;}
            .bar {width: 300px;}
        }
    }
    .extra {margin-top: 20px; font-size: 14px; color: #5e5e5e;}
}

#projects {
    h3 {margin-bottom: 50px !important;}
    .box{display: flex;}
    .project_box {
        ul {display: flex; flex-wrap: wrap; width: 650px; justify-content: space-around;
            .p_list {width: 300px; height: 300px; border-radius: 10px; box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); overflow: hidden;  position: relative; margin-bottom: 30px;
                .thumb {width: 130%; filter: 0.3s; transition: 0.3s; transform: translateX(-8%);}
                .t_s {width: 134% !important;}
                .t_d, .t_v {transform: translate(-10%, 4%) !important;}
                .detail {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); z-index: 3; display: none;
                    a {width: 120px; background-color: rgba(0,0,0,0.7); border: 1px solid #fff; text-align: center; padding: 15px 20px; color: #fff; font-weight: bold; border-radius: 10px;}
                    a:first-child {margin-bottom: 20px;}
                    a:hover {background-color: #000;}
                }
            }
            .p_list:hover {
                .detail {display: block !important;}
                img {filter: blur(1px); scale: 1.1;}
            }
            .p_list:nth-child(2) {
                img {width: 100%;}
            }
            .p_list:last-child {
                img {transform: translateX(-15%);}
            }
        }
    }
    .explain {margin-left: 40px;
        h4 {font-size: 1.8rem; font-weight: bold; margin-bottom: 20px; margin-top: 20px;}
        .how {margin-bottom: 20px; width: 100%; line-height: 30px;}
        .mention_e {color: #ccc; width: 100%; line-height: 30px; margin-bottom: 60px;}
        .short_explain {
            .explain_box {background-color: #fff; width: 600px; height: 400px; box-shadow: 0 1px 1px rgba(0,0,0,0.25), 0 2px 2px rgba(0,0,0,0.20), 0 4px 4px rgba(0,0,0,0.15), 0 8px 8px rgba(0,0,0,0.10), 0 16px 16px rgba(0,0,0,0.05); border-radius: 0px 70px 0px 70px;
                .explain_text {display: none; padding: 0 10%; height: 260px; margin-top: -20px;
                    li {line-height: 30px;
                        span {font-weight: bold;}
                    }
                }
                .flag_top {transform: translate(30%, -20%);}
                .flag_bottom {transform: translate(500%, -40%);}
            }
            .show {display: block !important;}
        }
    }
}

#contact {
    p {font-family: 'Anton'; line-height: 30px;}
    .contact_box {display: flex; margin-left: 10%;}
    ul {width: 50%; padding: 10% 0;
        .contact_title {font-size: 1.7rem; margin-bottom: 10px;}
        .contact_info {font-family: 'Orbit'; margin-bottom: 30px;}
    }
    .review {width: 50%; position: relative; height: 810px; overflow: hidden; transform: translateY(-5%);
        .text {position: absolute; padding: 30px 60px; margin-top: 30px;}
        .r_title {font-size: 1.5rem; font-weight: bold; margin-bottom: 30px;}
        .r_text {line-height: 40px;}
        img {width: 100%; height: 610px;}
    }
}